  *{
     margin: 0;
    padding: 0;
  background-color: rgb(232, 217, 193) 
  }

  .detel{
    margin-left: 5%;
    margin-top: 4%;

  }
  .detel h1{
    font-size: 50;
    color: black;
    margin-bottom: 20px;
    
  }
  span{
    color: rgb(207, 13, 224);
  }
  .detel p{
    color: #555;
    line-height: 22px;
    
  }
  
  
  
  .skill{
    font-size: 30;
    text-decoration:double;
    margin-top: 3%;
    
  }
  .skill h1{
    color: rgb(200, 43, 75);
  }
  .sk img{
    width: 150px;
    height: 150px;
    margin-inline-start: 5%;
    margin-left: 2%;
  }
  .hobbies{
    font-size: 30;
    text-decoration: double;
    margin-top: 3%;
    margin-left: 35%;
  }
  .hobbies h1{
    color: rgb(200, 43, 75);
  }
  .ho img{
    width: 150px;
    height: 150px;
    margin-left:80%;
    margin-inline-start: 2%;
  
  }
  .my img{
    width: 300px;
    height: 300px;
    margin-left: 800px;
    margin-top: -1000px;
    margin-bottom: 400px;
    border-radius: 50%;

  }
  